// .toy-list {
// }

.toy-list {
    ul {
        display: grid;
        padding-left: 0;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;

        .actions {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 0.5rem;
        }

        a, button {
            border: 1px solid $clr2;
            padding: 0.25rem;
            text-decoration: none;
            background-color: $clr4;
            color: $clr2;
            font-family: monospace;
            cursor: pointer;
            border-radius: 5%;
        }

        li {
            list-style: none;
            border: 2px solid $clr4;
            border-radius: 4px;
            padding: 0.5rem;
        }
    }
}
